.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}

#home {
  width: auto;
  background-color: rgba(203, 249, 153, 0.772);
  background-image: url('https://i.pinimg.com/originals/05/38/23/053823518ff6ae997fcf3f3833be56f1.jpg');
  border-width: 0ch;
}

.content {
  margin-top: 40px;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}
